<footer class="footer hide-for-print">
  <p>
    Content on this page is distributed under the
    <a href="https://creativecommons.org/licenses/by-sa/4.0/" target="_blank" rel="noopener noreferrer">CC BY-SA 4.0 License.</a>
  </p>
  <p>Copyright © 2023{{#if (not (eq "2023" (year)))}}-2023{{/if}} <a href="{{siteRootPath}}/about/me">Marco Bungart</a>.</p>
</footer>